
.ch-g1.section

	.ch-g1-4
		h3 How-to...
		ul.container
			- each item in howtos 
				li
					a(href='#{item.href}') #{item.label}
		h3 Demos
		ul.container
			- each item in demos
				li
					a(href='#{item.href}') #{item.label}

	.ch-g3-4
		h1 How to disable and enable watchers?
		p.container
			| This guide explain you how to disable and enable 
			a(href="/docs/demos/watcher") watchers
			| 
			| (
			a(href="/docs/demos/form") form's
			| 
			| validations).

		a#create-yours-validations
		h2 Create yours validations
		p.container
			| First, you'll initilize the 
			a(href="/docs/demos/watcher") watchers
			|  that you will use in your project.
			| In this case, we'll create a
			code required
			|  validation.

		pre.code
			| var requiredVal = $(".field-req").required("This field is required.");
		p.container
			| Note: You should store Chico's components in a javascript variable in order to access the methods and properties.

		a#disable-a-watcher
		h2 Disable a watcher
		p.container
			| You can disable this watcher, you only must use the method
			code disable
			| . Therefore, the next time that you run validation this watcher will not execute.
		pre.code
			| requiredValidation.disable();

		a#enable-a-watcher
		h2 Enable a watcher
		p.container
			| Now, if you want to enable it again, you must use the method 
			code enable
			| .

		pre.code
			| requiredValidation.enable();

		hr
		.ch-g1-2
			a(id='keep-on-reading')
			h2 Keep on reading
			p.container
				| Read more on our technical documentation, see the 
				a(href='/api/#{latest.version}/index.html') class index
				| , or see more about modals in the 
				a(href="/api/#{latest.version}/symbols/ch.Watcher.html") Watcher
				|  documentation.
		.ch-g1-2
			a(id='report-a-problem')
			h2 Problems?
			p.container
				| You can easily report problems, like bugs or typos through our 
				a(href='/api/#{latest.version}/index.html') issue tracker
				| , or simply write a twitt to 
				a(href='http://twitter.com/#!/chicoui') @chicoui
				| .

.clearfix