h1 Get started
p.updated
	| Documentation updated on 
	data December 13rd
	| .

.contents
	h5 Contents
	dl
		dt
			a(href="#what-is") 1 What is Chico UI?
		dt
			a(href="#install") 2 Installing in your site
		dt
			a(href="#widgets") 3 Check out UI Widgets demos
		dt
			a(href="#guides") 4 Learning guides
		dt
			a(href="#docs") 5 API documentation
		dt
			a(href="#download") 6 Download the library
		dt
			a(href="#who-is-using") 7 Who is using Chico UI?

h3#what-is What is Chico UI?
p
	| Chico UI is a free and open source collection of 
	em easy-to-use
	|  web tools for developers and designers.
p
	| Built on top of 
	a(href="http://jquery.com", target="_blank") jQuery
	| these tools brings known interaction patterns for your website taking advantage of HTML5 and CSS3 features.
p
	| We want to 
	a(href="http://github.com/mercadolibre/chico", target="blank") share this tool
	|  with the world to help making the web more beautiful.

h3#install Installing in your site
p
	| Install Chico UI is very easy. Just you have to follow
	a(href="/guides/how-to-install-chico") some simple steps
	| .

h3#widgets Check out UI Widgets demos
p
	| To see what is capable of, check demos and examples like
	- each item, i in widgets
		- if (i < 10 && item.label !== "Home")
			a(href="#{item.href}") #{item.label}
			| , 
	| and 
	a(href="/widgets") even more
	| .
p
	a.more(href="/widgets") See all widgets

h3#guides Learning guides
p
	| Our tutorials explains how to take specific tasks like
	- each item, i in guides
		- if (i < 5 && item.label !== "Home")
			a(href="#{item.href}") #{item.label}
			| , 
	| and 
	a(href="/guides") even more
	| .
p
	a.more(href="/guides") Browse all guides

h3#docs API documentation
p
	| There is a complete, vast and specific content to customize and use Chico UI.
p
	| You can read about Calendar, Modal, and Forms, but you could start reading 
	code ch
	| , the core of Chico UI.
p
	a.more(href="/api") Start here!

h3#download Download the library
p
	|You can get the 
	a(href="/download") latest version
	| of the library which comes with posibility of select the 
	a(href="/widgets") UI Widgets
	|  you want.
p
	| The package comes with all the source code and assets you need to run Chico UI on your web page.
form(action="/download")
	input.ch-btn.ch-primary(type="submit", value="Download v#{latest.version}")

h3#who-is-using Who is using Chico UI?
p
	| There are some products using Chico UI on the web:
ul.ch-list
	li
		a(href="http://www.mercadolibre.com") MercadoLibre
	li
		a(href="http://www.mercadopago.com") MercadoPago
	li
		a(href="http://www.mercadoshops.com") MercadoShops
	li
		a(href="http://www.mercadoclics.com") MercadoClics