
div.ch-g1.section
	h1 Docs
	.ch-g1-4
		!=partial('partials/demos')

		!=partial('partials/howtos')
					
	.ch-g3-4
		h1 Dropdown
		p.container
			| The Dropdown component is a member of 
			a(href='/api/#{latest.version}/symbols/ch.Navs.html') Navs
			|  familiy. Gives rich information about an UI element on the screen.
		a(id='demo')
		h2 Demo
		.box
			div.myDropdown
				span Ninja weapons
				ul
					li 
						a(href="#") Katana
					li
						a(href="#") Nunchaku
					li
						a(href="#") Chain
		.snippet
			p Snippet
			div
				pre.code
					|<div id="example">
					|	<span>Sitios</span>
					|	<ul>
					|		<li><a href="http://www.mercadolibre.com">MercadoLibre</a></li>
					|		<li><a href="http://www.mercadopago.com">MercadoPago</a></li>
					|		<li><a href="http://www.mercadoshops.com">MercadoShops</a></li>
					|		<li><a href="http://www.mercadoclics.com">MercadoClics</a></li>
					|	</ul>
					|</div>
		p.container This is the way to create a new Dropdown:
		pre.code
			| var foo = $("#example").dropdown();
		p.container
			| As any 
			a(href='/api/#{latest.version}/symbols/ch.Navs.html') Navs
			|  children, the Dropdown has a few uses cases you can use to modifiy and manipulate
			| its content, its size and positioning.
		a(id='show-and-hide')
		h2 Show and hide
		p.container
			| All 
			a(href='/api/#{latest.version}/symbols/ch.Navs.html') Navs
			|  exposes some public methods called 
			code show()
			|  and 
			code hide()
			| , both allow you to manage the dropdown's behavior programmatically. Something like this:
		pre.code
			| foo.show();
		p.container
			| Or
			code hide()
			|  the Dropdown, like this:
		pre.code
			| foo.hide();
		p.container
			| Read more about 
			a(href='/api/#{latest.version}/symbols/ch.Navs.html') Navs
			| .
			
		a(id='positioning')
		h2 Positioning
		p.container
			| Chico has an great utility to position things on screen, is called 
			a(href='/api/#{latest.version}/symbols/ch.Positioner.html') Positioner
			| . All 
			a(href='/api/#{latest.version}/symbols/ch.Navs.html') Navs
			|  has a 
			code position()
			|  method related to the 
			a(href='/api/#{latest.version}/symbols/ch.Positioner.html') Positioner
			|  , you can use it to redefine 
			| dropdown's positioning. See an example:			
		pre.code
			| myDropdown.position({ 
			|   offset: "0 10",
			|   points: "lt lb"
			| });
		p.container
			| As you can see, we pass a configuration object to the 
			code position()
			|  method with some properties. The 
			code offset
			|  property let you define a specific pixel values for X and Y axis indentation.
			| The 
			code points
			|  property defines the position relation between the element and its context.
			| In this case, the value 
			code "lt lb"
			|  literally says: 
			cite 
				| The element will be positioned by joining its left-bottom point with its 
				| context by its left-top point. 
		p.container
			| Read more about 
			a(href='/api/#{latest.version}/symbols/ch.Positioner.html') Positioner
			| .

		hr
		.ch-g1-2
			a(id='keep-on-reading')
			h2 Keep on reading
			p.container
				| Read more on our technical documentation, see the 
				a(href='/api/') class index
				| , or see more about dropdowns in the 
				a(href="/api/#{latest.version}/symbols/ch.Dropdown.html") Dropdown
				|  documentation.
		.ch-g1-2
			a(id='report-a-problem')
			h2 Problems?
			p.container
				| You can easily report problems, like bugs or typos through our 
				a(href='/api/') issue tracker
				| , or simply write a twitt to 
				a(href='http://twitter.com/#!/chicoui') @chicoui
				| .
.clearfix
- localScripts.push('$(".myDropdown").dropdown();','$(".snippet").expando();')