
div(class='ch-g1 section')

	.ch-g1-4
		h3 Demos
		ul.container
			- each item in demos
				li
					a(href='#{item.href}') #{item.label}

		h3 How-to...
		ul.container
			- each item in howtos 
				li
					a(href='#{item.href}') #{item.label}
					
	.ch-g3-4
		h1 Form
		div.container
			p
				| The Form component is a member of 
				a(href='/api/#{latest.version}/symbols/ch.Controllers.html') Controllers
				|  family that manages instances of 
				a(href='/api/#{latest.version}/symbols/ch.Watchers.html') Watchers
				|  and provides public methods to administrate error messages and form callbacks.
		a(id='demo')
		h2 Demo
		div.box
			form#example_form(action='#')
				fieldset
					legend
						| Form component
					div.field-box
						label(for='example_field')
							span
								| Some field
							input#example_field(type='text')
						p.help
							| Please, submit this form to see it in action.
				p.actions
					input.btn.primary(type='submit', value='Submit form')
		.snippet
			p Snippet
			div
				pre.code
					|<form action="ajax.html" id="demoform">
					|	<fieldset>
					|		<legend>Manejo de Forms</legend>
					|		<p class="required">* Datos obligatorios</p>
					|		<ol>
					|			<li class="fieldBox">
					|				<label class="required" for="val_email">
					|					<span>E-mail: <em>*</em></span>
					|					<input type="email" id="val_email" required="required" name="val_email">
					|				</label>
					|				<p class="help">Escribe una descripción corta y clara</p>
					|			</li>
					|		</ol>
					|	</fieldset>
					|	<p class="actions">
					|		<input type="submit" value="Enviar" class="btn primary">
					|		<a href="#" class="resetForm">Cancelar</a>
					|	</p>
					|</form>
		p.container
			| Read more about 
			a(href='/api/#{latest.version}/symbols/ch.Form.html') Form
			| .			
					
		a(id='callbacks')
		h2 Callbacks
		div.container
			p
				| The Form has some uses cases. You can use this component to trigger callbacks on determinated events.
			pre.code
				| var myForm = $("#example_form").form({
				|     onSubmit: function () {
				|         alert("This was triggered by Form component.");
				|     }
				| });
			
			p name the other methods	
			p
				| Read more about
				a(href='/how-to/use-callback-functions') Callbacks
				| .
			p
				| You can find all Form callbacks on its 
				a(href='/api/#{latest.version}/symbols/ch.Form.html') API documentation
				| .
	
		a(id='error-messages')
		h2 Error messages
		div.container
			p
				| To set default messages for  
				a(href='/api/#{latest.version}/symbols/ch.Watcher.html') Watchers
				|  children, you can specify messages on configuration object.
			p
				| These messages will be replaced if a Watcher is invoked with a message.
	
			pre.code
				| var myForm = $("#example_form").form({
				|     messages: {
				|         required: "Error message for all required fields.",
				|         email: "Show this message on email format error."
				|     }
				| });
		hr
		.ch-g1-2
			a(id='keep-on-reading')
			h2 Keep on reading
			p.container
				| Read more on our technical documentation, see the 
				a(href='/api/index.html') class index
				| , or see more about forms in the 
				a(href="/api/#{latest.version}/symbols/ch.Form.html") Form
				|  documentation.
		.ch-g1-2
			a(id='report-a-problem')
			h2 Problems?
			p.container
				| You can easily report problems, like bugs or typos through our 
				a(href='/api/index.html') issue tracker
				| , or simply write a twitt to 
				a(href='http://twitter.com/#!/chicoui') @chicoui

.clearfix

script
	$("#example_form").form({
		onSubmit: function () {
			alert("This was triggered by Form component.");
		}
	});
	$(".snippet").expando();