
div.ch-g1.section
	h1 Docs
	.ch-g1-4
		!=partial('partials/demos')

		!=partial('partials/howtos')
					
	.ch-g3-4
		h1 Watcher
		p.container 
			| The 
			a(href='/api/#{latest.version}/symbols/ch.Watcher.html') Watcher
			|  is a validation engine for the web forms. 
			| Each one send a feedback message to the end user. This message, called 
			a(href='/api/#{latest.version}/symbols/ch.Helper.html') Helper
			|, must indicate the error. 
		a(id='demo')
		h2 Demo
		form.demo_form.box
			fieldset
				legend Watchers
				ul
					li.fieldBox
						label(for='demo_email').required
							span E-mail:
								em *
							input(type='email', required='required')#demo_email.demo_email
			p.actions
				input(type='submit', value='Submit form').btn.primary
		.snippet
			p Snippet
			div
				pre.code
					|<form action="test.html" class="demo_form">
					|	<fieldset>
					|		<legend>Watchers</legend>
					|		<ul>
					|			<li class="fieldBox">
					|				<label class="required" for="example">
					|					<span>E-mail: <em>*</em></span>
					|					<input id="example" type="email" required="required">
					|				</label>
					|			</li>
					|		</ul>
					|	</fieldset>
					|	<p class="actions">
					|		<input type="submit" value="Submit form" class="btn primary">
					|	</p>
					|</form>
		a(id='circular-reference')
		h2 Circular reference 
		p.container 
			| Each instance of Watcher must have a reference with a Form component instance. If any explicit instance wasn't created, the Watcher component will create a Form component.
		p.container 
			| The Form and Watchers make a circular reference between themselves. The Form knows the Watcher and the Watcher knows the Form. 
		p.container 
			| This is the way to create a new watcher:
		pre.code 
			| var foo = $("#example").watcher( CONFIGURATION_OBJECT );
		a(id='configuration')
		h2 Configuration
		p.container 
			| Most of the interfaces for Watchers receive a configuration object. This object changes the default configuration.
		p.container 
			| This is the common configuration object for all the Watchers:
		pre.code
			| {
			| 	messages: {},
			| 	beforeValidate: function(){},
			| 	afterValidate: function(){},
			| 	onReset: function(){}
			| }
		p.container
			| When you instance a Watcher it returns a control object. It gives you information about the instance and some methods to manipulate the Watcher. 
		a(id='the-interfaces')
		h2 The interfaces
		p.container
			| Instead of use the 
			code watcher()
			|  method you can use the interfaces. Each one of this has their own configuration object. 
		a(id='the-custom-interface')
		h3 The custom() interface
		p.container
			| It allows you to add a personalized validation.
			| Read more about
			a(href='/api/#{latest.version}/symbols/ch.Custom.html') Custom
			| .
			
		pre.code
			|var foo = $("demo_custom").custom()
		
		a(id='the-required-interface')
		h3 The required() interface
		p.container
			| It makes the field to be required. 
			| Read more about
			a(href='/api/#{latest.version}/symbols/ch.Required.html') Required
			| .
			
		pre.code
			|var foo = $("demo_required").required()
		
		a(id='the-string-interface')
		h3 The string() interface
		p.container
			| It validates that the field only have words with letters a-z and A-Z.
			| Read more about
			a(href='/api/#{latest.version}/symbols/ch.String.html') String
			| .
			
		pre.code
			|var foo = $("demo_string").string()
		
		a(id='the-email-interface')
		h3 The email() interface
		p.container
			| It validates that the field is a valid email. 
			| Read more about
			a(href='/api/#{latest.version}/symbols/ch.String.html') String
			| .
			
		pre.code
			|var foo = $("demo_email").email()
		
		a(id='the-url-interface')
		h3 The url() interface 
		p.container
			| It validates that the field is a valid url. 
			| Read more about
			a(href='/api/#{latest.version}/symbols/ch.String.html') String
			| .
			
		pre.code
			|var foo = $("demo_url").url()
			
		a(id='the-maxlength-interface')
		h3 The maxLength() interface
		p.container
			| It validates that the field length is lower than the indicated value. 
			| Read more about
			a(href='/api/#{latest.version}/symbols/ch.String.html') String
			| .
			
		pre.code
			|var foo = $("demo_maxLength").maxLength()
			
		a(id='the-minlength-interface')
		h3 The minLength() interface
		p.container
			| It validates that the field length is greater than the indicated value. 
			| Read more about
			a(href='/api/#{latest.version}/symbols/ch.String.html') String
			| .
			
		pre.code
			|var foo = $("demo_minLength").minLength()
		
		a(id='the-number-interface')
		h3 The number() interface
		p.container
			| It validates that the field is valid number. 
			| Read more about
			a(href='/api/#{latest.version}/symbols/ch.Number.html') Number
			| .
			
		pre.code
			|var foo = $("demo_number").number()
			
		a(id='the-max-interface')
		h3 The max() interface
		p.container
			| It validates that the field is a smaller number than the indicated value. 
			| Read more about
			a(href='/api/#{latest.version}/symbols/ch.Max.html') Max
			| .
			
		pre.code
			|var foo = $("demo_max").max()
			
		a(id='the-min-interface')
		h3 The min() interface 
		p.container
			| It validates that the field is a bigger number than the indicated value. 
			| Read more about
			a(href='/api/#{latest.version}/symbols/ch.Min.html') Min
		pre.code
			|var foo = $("demo_min").min()
			| .
			
		a(id='the-price-interface')
		h3 The price() interface 
		p.container
			| It validates a valid price format number.
			| Read more about
			a(href='/api/#{latest.version}/symbols/ch.Price.html') Price
		pre.code
			|var foo = $("demo_price").price()
			| .
			
		a(id='more-validations-by-field')
		h2 More validations by field
		p.container
			| If you need multiple validation on the same field, you can use the .and() method to concatenate like this:
		pre.code 
			| var myValidations = $("#example").min(13).and().max(20);	
		a(id='position')
		h2 Position
		p.container
			| You can use the 
			a(href="positioner") Positioner
			|  component to be able to change the Helper position in reference to the field you're validating:
		pre.code 
			| myValidations.helper.position({
			|     points: “lt rt”,	
			|     offset: "10 10"				
			|});
		p.container
			| Learn 
			a(href="../how-to/position-something-on-screen") how to position something on screen
			| .
		hr
		.ch-g1-2
			a(id='keep-on-reading')
			h2 Keep on reading
			p.container
				| Read more on our technical documentation, see the 
				a(href='/api/') class index
				| , or see more about Watchers in the 
				a(href="/api/#{latest.version}/symbols/ch.Watcher.html") Watcher
				|  documentation.
		.ch-g1-2
			a(id='report-a-problem')
			h2 Problems?
			p.container
				| You can easily report problems, like bugs or typos through our 
				a(href='https://github.com/mercadolibre/chico/issues/new') issue tracker
				| , or simply tweet us about it: 
				a(href='http://twitter.com/#!/chicoui') @chicoui
				| .

.clearfix

- script("code", 'var form = $(".demo_form").form();')
- script("code", 'var validation = $(".demo_email").required("The field must be completed").validate();')
- script("code", '$(".snippet").expando();')