h1 Calendar
p.updated
	| Documentation updated on 
	data December 14th
	| .

.contents
	h5 Contents
	dl
		dt
			a(href="#description") 1 Description
		dt
			a(href="#demo") 2 Demo
		dt
			a(href="#snippet") 3 Code snippet
		dt
			a(href="#instance") 4 Instance component
		dt
			a(href="#show-n-hide") 5 Show and hide
		dt
			a(href="#changing-size") 6 Changing size
		dt
			a(href="#positioning") 7 Positioning

h3#description Description
p
	| The Calendar component is a member of 
	a(href="/api/#{latest.version}/symbols/ch.Controllers.html") Controllers
	|  familiy.

h3#demo Demo
form.box
	.ch-form-row
		label(for="example") Date:
		input.demo-calendar(type="date", id="example")

h3#snippet Code snippet
pre
	| <form ... >
	| 	<p class="ch-form-row">
	| 		<label for="example">Date:</label>
	| 		<input type="date" id="example" />
	| 	</p>
	| </form>

h3#instance Instance component
p
	| This is the way to create a new Calendar:
pre
	| var foo = $("#example").calendar("today");

h3#show-n-hide Show and hide
p
	| The Calendar widget exposes some public methods called 
	code show
	|  and 
	code hide
	| , both allow you to manage the Calendar behavior programmatically. Something like this:
pre
	| myCalendar.show(); // Shows the calendar
	| myCalendar.hide(); // Hides the calendar

h3#changing-size Changing size
p
	| For change the width property to the Calendar container there is a method called 
	code width
	| , also works as a getter and a setter at the same time. To 
	em get 
	| the property simply use the method without arguments, like this:
pre
	| var width = myCalendar.width(); // Get its width
p
	| To set the property add an argument to the method 
	code width
	| , admits 
	em Numbers
	|  (33) or 
	em String
	|  ("33px") as a CSS property. See an example:
pre
	| myCalendar.width(300); // Set its width
p
	| Exactly the same thing with the method 
	code heigth
	| , admits 
	em Numbers
	|  (22) or 
	em String
	| ("22px") as a CSS property. Get example:
pre
	| myCalendar.height(); // Get its height
p
	| Set 
	code height
	|  example:
pre
	| myCalendar.height(300); // Set its height
p
	| Read more about 
	a(href="/api/#{latest.version}/symbols/ch.Floats.html#.size") Sizing
	| .

h3#positioning Positioning
p
	| Chico UI has an great utility to position things on screen, is called 
	a(href="/api/#{latest.version}/symbols/ch.Positioner.html") Positioner
	| . All 
	a(href="/api/#{latest.version}/symbols/ch.Floats.html") Floats
	|  has a 
	code position
	|  method related to the Positioner, you can use it to redefine Calendar positioning. See an example:			
pre
	| myCalendar.position({ 
	| 	"offset": "0 10",
	| 	"points": "lt lb"
	| });
p
	| As you can see, we pass a configuration object to the 
	code position
	|  method with some properties. The 
	code offset
	|  property let you define a specific pixel values for 
	code X
	|  and 
	code Y
	|  axis indentation.
p
	| The 
	code points
	|  property defines the position relation between the element and its context. In this case, the value 
	code "lt lb"
	|  literally says: 
	cite 
		| The element will be positioned by joining its left-bottom point with its 
		| context by its left-top point. 
p
	| Read more about 
	a(href="/api/#{latest.version}/symbols/ch.Positioner.html") Positioner
	| .

!=partial("includes/keep-reading")

- script("code", '$(".demo-calendar").calendar();')