h1 Tooltip
p.updated
	| Documentation updated on 
	data February 7th
	| .

.contents
	h5 Contents
	dl
		dt
			a(href="#description") 1 Description
		dt
			a(href="#demo") 2 Demo
		dt
			a(href="#snippet") 3 Code snippet
		dt
			a(href="#instance") 4 Instance component
		dt
			a(href="#configuration") 5 Configuration
		dt
			a(href="#basics") 6 Basics
		dd
			dl
				dt
					a(href="#show-n-hide") 6.1 Show and hide
				dt
					a(href="#get-and-set-content") 6.2 Get and set content
				dt
					a(href="#positioning") 6.3 Positioning
		dt
			a(href="#events") 7 Events

h3#description Description
p
	| The Tooltip widget is a member of 
	a(href="/api/#{latest.version}/symbols/ch.Floats.html") Floats
	|  family. It gives more information about an UI element on the screen.

h3#demo Demo
p
	| Hold the mouse over the image for a few seconds:
p.actions
	img.ninjas(src="/src/assets/ninja.png", title="How many ninjas you need to create an awesome library?", alt="ninja", width="150")

h3#snippet Code snippet
	pre
		| <img id="example" src="/src/assets/ninja.png" title="How many ninjas you need..." alt="Ninja" />

h3#instance Instance component
p
	| This is the way to create a new tooltip:
pre
	| var foo = $("#example").tooltip();
p
	| As any 
	a(href="/api/#{latest.version}/symbols/ch.Floats.html") Floats
	|  children, the Tooltip has a few uses cases you can use to modifiy and manipulate its content, its size and positioning.


!=partial("includes/configuration")

h3#basics Basics

h4#show-n-hide Show and hide
p
	| All 
	a(href="/api/#{latest.version}/symbols/ch.Floats.html") Floats
	|  exposes some public methods called 
	code show
	|  and 
	code hide
	| , both allow you to manage the Tooltip behavior programmatically. Something like this:
pre
	| foo.show(); // Shows the tooltip
	| foo.hide(); // Hides the tooltip
p
	| Read more about 
	a(href="/api/#{latest.version}/symbols/ch.Floats.html") Floats
	| .

h4#get-and-set-content Get and set content
p
	| All 
	a(href="/api/#{latest.version}/symbols/ch.Floats.html") Floats
	|  exposes a public method called 
	code content
	| , it works as a getter and a setter at the same time. To 
	em get
	|  the content of this component simply use the method without arguments, like this:
pre
	| var content = foo.content(); // Get its content
p
	| To 
	em set
	|  content add an argument to the method 
	code content
	| , admits static content, DOM content or AJAX content. See an example:
pre
	| foo.content("New content!"); // Set its content
p
	| Read more about 
	a(href="/api/#{latest.version}/symbols/ch.Object.html#.content") Content
	| .

h4#positioning Positioning
p
	| Chico has an great utility to position things on screen, is called 
	a(href="/api/#{latest.version}/symbols/ch.Positioner.html") Positioner
	| . All 
	a(href="/api/#{latest.version}/symbols/ch.Floats.html") Floats
	|  has a 
	code position
	|  method related to the , you can use it to redefine Tooltip positioning. See an example:			
pre
	| foo.position({
	| 	"offset": "0 10",
	| 	"points": "lt lb"
	| });
p
	| As you can see, we pass a configuration object to the 
	code position
	|  method with some properties. The 
	code offset
	|  property let you define a specific pixel values for 
	code X
	|  and 
	code Y
	|  axis indentation.
p
	| The 
	code points
	|  property defines the position relation between the element and its context. In this case, the value 
	code "lt lb"
	|  literally says: 
	cite 
		| The element will be positioned by joining its left-bottom point with its context by its left-top point.
p
	| Read more about 
	a(href="/api/#{latest.version}/symbols/ch.Positioner.html") Positioner
	| .


!=partial("includes/events")

!=partial("includes/keep-reading")

- script("code", '$(".ninjas").tooltip();')