
.ch-g1.section
	
	.ch-g1-4
		h3 Docs
		ul
			li
				a(href='/api/index.html') API reference
			
		h3 Demos
		ul
			- each item in demos
				li
					a(href='#{item.href}') #{item.label}

		h3 How-to...
		ul
			- each item in howtos 
				li
					a(href='#{item.href}') #{item.label}

	.ch-g3-4
		h1 Docs
		h2 Getting started
		p.container
			| This quick guide is intented to explain the basics of Chico.
		
		a#what-is-chico
		h3 What is Chico?
		p.container
			| Chico is a collection of 
			em easy-to-use 
			| web toys for developers and designers.
			| Built on top of 
			a(href='http://www.jquery.com') jQuery
			| , this open source toolbox brings a couple of known visual patterns
			| for the web and takes advantages of the new HTML5 and CSS3 features.
		a#installing-in-your-site
		h3 Installing in your site
		p.container
			| In a few steps you'll 
			a(href='/docs/how-to/install') install
			|  chico!
			
		a#demos
		h3 Check out this demos
		div.container
			p
				| To see what is capable of, see these demos and examples.
				br
				- each item in demos
					a(href='#{item.href}') #{item.label}, 
		h3 How to guides...
		p.container
			| The how to
			|  guides, explains how to take a specific task.
			br
			- each item, i in howtos
				- if (i<3)
					a(href='#{item.href}') How-to #{item.label}
					| ,
			| and 
			a(href='/docs/how-to') other How-to
			| ...
		h3 Api reference
		p.container
			| Here is  a complete, vast and specific content to customize and use Chico.
			| You can read about Calendar, Modal, and Forms,
			| but you could start reading 
			code ch
			|  the core of Chico UI.
			br
			a(href='/api/symbols/ch.html') Start here!
			a#download
		h3 Download
		div.container
			p
				| You can get the lastest 
				a(href='/download') full version 
				| of the library which comes with all 
				a(href='/docs/demos') UI Components,
				| or build your own 
				a(href='/download') custom download
				|.
	
			p
				| The package comes with all the source code and assets you need to
				| run Chico on your web page. The package structure look like this:
				
			
			pre
				| /assets
				| /src/js
				| /src/css
		
		a#who-is-using
		h3 Who is using Chico?
		div.container
			p
				| There is a couple of products using Chico on the web:
			ol
				li
					a(href='http://www.mercadolibre.com') MercadoLibre,
				li
					a(href='http://www.mercadopago.com') MercadoPago,
				li
					a(href='http://www.mercadoshops.com') MercadoShops,
				li
					a(href='http://www.mercadoclics.com') MercadoClic.
		
		h3 FAQ
		ol.container
			li 
				h4 This isn't working...
				p If nothing run like it should, try this checklist:
				ul
					li 
						| Have you installed Chico?
						a(href='/docs/how-to/install') See how
						|.
					li Have you installed Chico's dependencies?
					li Are you sure you are editing the right file?
			li 
				h4 How can I validate two fields at once?
				p 
				| The fastest way is using a Custom validator, there is other 
				| way by extending some components, but let's start with the 
				| easy first, follow this guide: 
				a(href="/how-to/validate-two-fields-at-once") How-to validate two fields like one
				|.
			li 
				h4 How can I get in touch with you guys?
				p You can reach us trought Github, Twitter, Facebook or by email.

.clearfix