section.ch-g1
	h1
		| Download Center
	p.updated
		| Current version: v#{version}

	article.custom-version
		form.ch-form#download(action="/versions/#{version}/chico-#{version}.zip", method="GET")
			fieldset.ch-g2-5
				legend#widgetsLayer 1. Select your widgets
				.ch-box-information.ch-g3-4
					p Temporally you must download all the widgets.
					p We are working on restructure the framework, and soon you will be able to do this by a better way.
				//
					#widgets.ch-list-options

						- // TODO: Migrate to PARTIALS

						- // List of each widget
						- var w = [];
						- // It's return a widget with DOM template
						- var render = function (label) { return "<li class=\"ch-form-row\"><input type=\"checkbox\" id=\"w_" + label + "\" value=\"" + label + "\" name=\"widgets\" checked disabled /><label for=\"w_" + label + "\" style=\"color:#bbb\">" + label + "</label></li>"; };
						- // Add Widgets to "w" array
						- each widget in widgets
							- if (widget.name !== "css-library" && widget.name !== "positioner")
								- w.push(render(widget.friendly));
						- var result = [], tpl = "<ul class=\"ch-g1-2\">";
						- var cols = 2, len = w.length, itemsPerColumn = Math.ceil(len / cols);
						- // Splice widgets lists per column
						- for (var i = 0; i < cols; i += 1)
							- result.push(w.splice(0, itemsPerColumn).join(""));
						- // Join widgets
						- result = tpl + result.join("</ul>" + tpl) + "</ul>";
						!= result
					input(type="hidden", name="totalWidgets", value="#{len}")
			fieldset.ch-g1-5
				legend 2. Select compression
				ul.ch-list-options#compression
					li.ch-form-row
						input#prod(type="checkbox", disabled, value="prod", name="compression", checked)
						label(for="prod") Minified
					li.ch-form-row
						input#dev(type="checkbox", disabled, value="dev", name="compression", checked)
						label(for="dev") Uncompressed
			fieldset.ch-g1-5
				legend 3. Include extras
				ul.ch-list-options#extras
					li.ch-form-row
						input#mesh(type="checkbox", disabled, value="mesh", name="extras", checked)
						label(for="mesh")
							| Chico Mesh
							span.ch-icon-question-sign(style="display:inline-block")#meshLayer
					li.ch-form-row
						input#tests(type="checkbox", value="tests", name="extras", disabled)
						label(for="tests") Tests (soon)
			fieldset.ch-g1-5
				legend 4. Get the package
				input.ch-btn(type="submit", value="Download", style="margin-left:20px")

	article.ch-g1-2
		.ch-leftcolumn
			h3 Get older versions
			ul#versions.ch-menu
				- each v, i in versions
					- if (i > 0 && i <= 5)
						li
							span #{v.version}
							ul
								- each file in v.files
									li
										a(href="#{file.href}") #{file.name}
			a.more(href="/archive") See all versions
	article.ch-g1-2
		.ch-rightcolumn
			h3 Get for Visual Studio
			p
				| To get the
				a(href="http://nuget.org/packages/Chico-UI", target="_blank") Nuget package
				|  for Visual Studio, run this code in the
				a(href="http://docs.nuget.org/docs/start-here/using-the-package-manager-console", target="_blank") PM Console
				| :
			pre.terminal PM> Install-Package Chico-UI
			p.updated
				| Thanks to Emmanuel Larrieux
				a(href="https://twitter.com/#!/elarrieux", target="_blank") @elarrieux
				| .


- script("code", '$("#versions").accordion();')
- script("code", '$("#widgets,#compression").required("Choose at least one.");')
- script("code", '$("#meshLayer").layer({"points":"ct cb","content":"<p>Solution for fast and simple layouts. <a href=\'/mesh\' target=\'_blank\'>See more</a>.</p>"});')