.ch-g1.overview.section
	.ch-g1-3

			h1 Get things done, quickly
			p.container
				| Chico is a 
				strong free 
				| and 
				strong open source 
				| collection of 
				em easy-to-use 
				| web toys for developers and designers.
				| Built on top of 
				a(href='http://www.jquery.com',rel='nofollow') jQuery
				| , this toolbox brings a couple of known visual patterns
				| for the web and takes advantages of the new HTML5 and CSS3 features. We want to 
				a(href='http://github.com/mercadolibre/chico',rel='nofollow') share this tool 
				| with the world to help making the web more beautiful.
			form.container(action='/docs')
				input.btn.primary.button(type='submit', value='Getting Started')
	.ch-g1-3
		.ninja
			img(src='src/assets/ninja.jpg',widht='278',height='368')
	.ch-g1-3
		div.download-container.center
			h2 
				| Get latest version 						
			form(action='#{latest.download.href}')
				fieldset
					ul
						li
							input.btn.secondary.skin.button(type='submit', value='Download #{latest.version} full package')
					p
						| Looking for
						a(href='/download') older versions
						| ?

			form(action='/download')
				fieldset						
					ul
						li
							input.btn.primary.button(type='submit', value='Build custom package')

					p
						| Select all the components you need from latest release
						| and download your custom package ready to use.
			hr
			a(href='http://github.com/mercadolibre/chico', rel='nofollow') Get all the source code form Github
			hr
hr.clearfix
div.container.home
	ul.clearfix

		li.ch-g2-8
			h3 How-to guides
			ul
				- each item, i in howtos
					- if (i<5)
						li
							a(href='#{item.href}') #{item.label}
		li.ch-g1-8
			h3 Developers
			ul
				li 
					a(href='/api/#{latest.version}/index.html') API documentation
				li 
					a(href='http://github.com/mercadolibre/chico', rel='nofollow') Code on Github
				li 
					a(href='#{common.issuetracker}') Issue tracker
				li 
					a(href='/discussion') Discussion
				li 
					a(href='http://blog.chico-ui.com.ar/tagged/Release_Notes') Release Notes
						
		li.ch-g5-8
			.ui-components-demo.rightcolumn
				ul.ui-components-demo-list
					li.ui-components-demo-list-item
						a(href='/docs/demos/calendar') 
							span.rounded
								img(src='src/assets/icons/calendar-icon-64x64.jpg',alt='Calendar')
							span Calendar
					li.ui-components-demo-list-item
						a(href='/docs/demos/carousel') 
							span.rounded
								img(src='src/assets/icons/carousel-icon-64x64.jpg',alt='Carousel')
							span Carousel
					li.ui-components-demo-list-item
						a(href='/docs/demos/dropdown') 
							span.rounded
								img(src='src/assets/icons/dropdown-icon-64x64.jpg',alt='Dropdown')
							span Dropdown
					li.ui-components-demo-list-item
						a(href='/docs/demos/expando') 
							span.rounded
								img(src='src/assets/icons/expando-icon-64x64.jpg',alt='Expando')
							span Expando
					li.ui-components-demo-list-item
						a(href='/docs/demos/form') 
							span.rounded
								img(src='src/assets/icons/form-icon-64x64.jpg',alt='Form')
							span Form 
					li.ui-components-demo-list-item
						a(href='/docs/demos/layer') 
							span.rounded
								img(src='src/assets/icons/layer-icon-64x64.jpg',alt='Layer')
							span Layer
					li.ui-components-demo-list-item
						a(href='/docs/demos/menu') 
							span.rounded
								img(src='src/assets/icons/menu-icon-64x64.jpg',alt='Menu')
							span Menu
					li.ui-components-demo-list-item
						a(href='/docs/demos/modal') 
							span.rounded
								img(src='src/assets/icons/modal-icon-64x64.jpg',alt='Modal')
							span Modal
					li.ui-components-demo-list-item
						a(href='/docs/demos/positioner') 
							span.rounded
								img(src='src/assets/icons/positioner-icon-64x64.jpg',alt='Positioner')
							span Positioner 
					li.ui-components-demo-list-item
						a(href='/docs/demos/tabNavigator') 
							span.rounded
								img(src='src/assets/icons/tabNavigator-icon-64x64.jpg',alt='TabNavigator')
							span TabNavigator
					li.ui-components-demo-list-item
						a(href='/docs/demos/tooltip') 
							span.rounded
								img(src='src/assets/icons/tooltip-icon-64x64.jpg',alt='Tooltip')
							span Tooltip
					li.ui-components-demo-list-item
						a(href='/docs/demos/watcher') 
							span.rounded
								img(src='src/assets/icons/watcher-icon-64x64.jpg',alt='Watcher')
							span Watcher
	
hr.clearfix
div.container.home
	ul
		li.ch-g1-3
			a(href='http://www.w3.org/html/logo/', rel='nofollow')
				img(alt='HTML5', src='http://www.w3.org/html/logo/badge/html5-badge-h-solo.png')
			h3 We love the open web
			p
				| We want to collaborate to make the web more beautiful, with HTML, CSS,
				| JavaScript.
		li.ch-g1-3
			img(src='src/assets/web-browsers.jpg')
			h3 Cross browser
			p Still supporting old browsers: IE6+, FF3+, Chrome, Safari, Opera.
			/if lt IE 7 
				p You are using a really really old browser! Please, try to upgrade the thing and help engineers to push the web forward, much further than you think!
		li.ch-g1-3
			a(href='http://opensource.org/', rel='nofollow')
				img(alt='Open Source Initiative', src='src/assets/opensource.png')
			h3 Open source
			p 
				| Released under              
				a(href='https://raw.github.com/mercadolibre/chico/bc982b922d041057c9dde9566536ebfb517d1a70/LICENSE.txt', title='It means you can use it and modify it as you like.', rel='nofollow') MIT License!
				| We are sharing our work like other cool projects like 
				a(href='http://jquery.com/', rel='nofollow') jQuery
				|  and 
				a(href='http://nodejs.org/', rel='nofollow') nodeJS
				|  among others.
script
	$(".ui-components-demo").carousel({pagination:true}).page(2);

.clearfix

//!=partial('widgets/activity')